[user]
        name = {{ user_name }}
        email = {{ user_email }}

[diff]
        algorithm = patience

[alias]
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
